<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= form_with model: @shop, class: "new_shop" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :shop_name %>
          <%= f.text_field :shop_name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :tel %>
          <%= f.text_field :tel, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :shop_hours %>
          <%= f.text_field :shop_hours, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :price %>
          <div class="input-group">
            <%= f.text_field :price, class: "form-control" %>
            <span class="input-group-text">円</span>
          </div>
        </div>
        <div class="mb-3">
          <%= f.label :shop_image %>
          <%= f.file_field :shop_image, class: "form-control", accept: 'image/*' %>
          <%= f.hidden_field :shop_image_cache %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>